---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import awsrestart from "../../public/images/aws_restart_logo_reverse.png";
---

<BaseLayout title="AWS Re/Start">
  <section class="p-8">
    <Image src={awsrestart} alt="AWS Re/Start" class="w-full rounded-lg mb-6" />
    <h1 class="text-4xl font-bold mb-4">AWS Re/Start</h1>
    <p class="mb-6">
      O AWS Re/Start é um programa de treinamento gratuito e em tempo integral
      que prepara pessoas para carreiras em computação em nuvem. Desenvolvido
      pela Amazon Web Services (AWS), este programa oferece uma oportunidade
      única para quem busca ingressar no mercado de tecnologia, especialmente na
      área de cloud computing. Com duração de aproximadamente 12 semanas, o
      curso combina teoria e prática através de laboratórios hands-on,
      preparando os participantes para certificações AWS e conectando-os
      diretamente com oportunidades de emprego em empresas parceiras.
    </p>

    <h2 class="text-2xl font-semibold mb-2">QUAL É O CONTEÚDO DO CURSO?</h2>
    <ul class="list-disc list-inside mb-4">
      <li>Nivelamento em conceitos de tecnologia da informação</li>
      <li>
        Laboratórios ao Vivo: com práticas hands-on que reforçam a aplicação dos
        conceitos.
      </li>
      <li>Princípios básicos de nuvem</li>
      <li>Introdução aos componentes da nuvem</li>
      <li>Terminologia</li>
      <li>Computação</li>
      <li>Armazenamento</li>
      <li>Rede</li>
      <li>Segurança</li>
      <li>Banco de dados</li>
      <li>Introdução à programação</li>
      <li>Conceitos básicos de Python</li>
      <li>Introdução ao Linux</li>
      <li>Conceitos básicos de script do Linux</li>
      <li>Principais serviços da AWS</li>
      <li>Infraestrutura global</li>
      <li>Componentes de nuvem mapeados para o serviço da AWS</li>
      <li>Operação na AWS</li>
      <li>Automação na AWS</li>
      <li>Gerenciamento e governança da AWS</li>
      <li>Inteligência Artificial</li>
      <li>Conceitos de programação em linguagem Python</li>
      <li>Conceitos essenciais de IA e Machine Learning</li>
      <li>Ferramentas de Inteligência Artificial da AWS</li>
      <li>
        Uso de serviços de IA da AWS como: Bedrock, Textract, Comprehend, Polly,
        Lex, entre outros.
      </li>
      <li>Projeto Final Integrado</li>
      <li>Habilidades profissionais desenvolvidas</li>
      <li>Habilidades de comunicação</li>
      <li>Definição de objetivos</li>
      <li>Processo do pensamento técnico</li>
      <li>Trabalho em equipe e colaboração</li>
      <li>Preparação da entrevista</li>
      <li>Presença digital</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-2">
      COMO É ESTUDAR NA ESCOLA DA NUVEM?
    </h2>
    <p>
      Na Escola da Nuvem você terá a oportunidade de estudar com instrutores
      certificados pela AWS, com experiência e em um formato que visa favorecer
      o seu aprendizado, com o intuito de prepará-lo para dar os primeiros
      passos na nuvem AWS e no mercado de trabalho, além de direcioná-lo para a
      certificação digital AWS Certified Cloud Practitioner.
    </p>
  </section>
</BaseLayout>
