---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import ExamSimulator from '../components/ExamSimulator';
---

<BaseLayout title='Simulador AWS'>
 
    <div>
      <ExamSimulator client:load />
    </div>

</BaseLayout>